/* Submit Button */
.submit-btn {
  padding: 12px 20px;
  background-color: #37b8f4;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  opacity: 0.8;
}

.submit-btn:hover {
  background-color: #4CAF50;
  transform: scale(1.1);
}

.submit-btn:active {
  background-color: #2f8f36;
  transform: scale(.8);
}

.submit-btn:focus {
  outline: none;
}

/** Dark Mode **/
/* .dark .submit-btn {
  background-color: #3efb6d;
}

.dark .submit-btn:hover {
  background-color: #3efb6d;
} */